<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.pluswave.getui.wrapper" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>getuiwrapper</name>
    <js-module name="getuiwrapper" src="www/getuiwrapper.js">
        <clobbers target="cordova.plugins.getuiwrapper" />
    </js-module>
</plugin>
